.footer-section {
  // text-align: center;
  font-variant: small-caps;
  font-size: 1.25rem;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #000000;
  // text-shadow: 4px 4px 4px #cb2d2d;
  // background: hsl(22, 54%, 73%);
  display: inline-flex;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
}

.social-icon {
  margin: 1rem;
  height: 42px;
  width: 42px;
}
